@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Inter.ttf');
}

@font-face {
    font-family: 'K2D';
    src: url('../Fonts/K2D.ttf');
}

.preloader-wrapper {
    position: absolute;
    z-index: 999;
}

.fade-out {
    visibility: visible;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s linear;
}
  
* {
    font-family: 'K2D', sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    -webkit-user-drag: none;
}

#drag-area {
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
}

.bg-container {
    position: absolute;
    top: 0;
    z-index: -100;
}

.top-bar {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
}

.top-bar img {
    order: 1;
    height: 55px;
    width: 55px;
    margin-left: 20px;
}

.top-bar .title-container {
    order: 2;
    z-index: 10;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.title-container h1 {
    color: white;
    font-size: 40px;
}

#close-btn{
    order: 3;
    z-index: 11;
    margin: 20px;
    cursor: pointer;
}

.login-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: fit-content;
    margin-top: 28vh;
}

input[type="text"],
input[type="password"] {
    outline: none;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px 15px 15px 50px;
    border-radius: 35px;
    width: 350px;
}
::placeholder {
    color: white;
    font-weight: 300;
    font-size: 14px;
    -webkit-user-select: none;
}

.username-field,
.password-field {
    position: relative;
}

.username-field svg {
    position: absolute;
    top: 16px;
    left: 17px;
}

.password-field svg {
    position: absolute;
    top: 14px;
    left: 15px;
}

.error-container {
    position: absolute;
    color: red;
    font-size: 12px;
    font-weight: 1000;
    bottom: 115px;
    display: none;
    -webkit-user-select: none;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CE5252;
    border-radius: 35px;
    width: 350px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.login-btn p {
    margin: auto auto;
    color: white;
    font-weight: 600;
    -webkit-user-select: none;
}

.login-btn:hover {
    transform: scale(1.05);
}

.login-footer-container p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
}

.login-footer-container span {
    color: #CA2910;
    font-weight: 600;
}

.login-footer-container a {
    cursor: pointer;
}