* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    position: relative;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    font-family: 'K2D', sans-serif;
    color: white;
    overflow: hidden;

    img {
        -webkit-user-drag: none;
    }


    .loader-container {
        position: absolute;
        display: none;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(3px);
        z-index: 5;

        .loader {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            box-sizing: border-box;
            border-top: 8px solid #fff;
            border-left: 8px solid #fff;
            border-right: 8px solid #ff00;
            animation: loader .7s infinite linear;
        }
    }
}

.drag-region {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 30px;
    -webkit-app-region: drag;
}

.close-container {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;

    svg {
        cursor: pointer;
    }
}

.popup-error {
    background: rgba(80, 80, 81, 0.4) !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    cursor: default !important;
}

section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;

    .blue-gradient,
    .orange-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1)0%, rgba(24, 8, 5, 1) 44%, rgba(116, 65, 43, .7) 100%);
        z-index: 1;
    }

    .blue-gradient {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1)0%, rgba(8, 7, 23, 1) 44%, rgba(33, 29, 89, .7) 100%);
        display: none;
    }

    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        img {
            height: 100vh;
        }
    }

    .layout-left,
    .layout-right {
        position: relative;
        width: fit-content;
        height: fit-content;
        margin: 40px 0 0 75px;
        z-index: 2;
    }

    .layout-left {
        .logo-orange,
        .logo-blue {
            margin-bottom: 35px;
            z-index: 2;

            img {
                width: 48px;
                height: auto;
            }
        }

        .logo-blue {
            display: none;
        }
    }

    .layout-right {
        .omen-img {
            display: none;
        }
    }

    .register-container {
        display: none;
    }

    .mode-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        font-size: 16px;
        font-weight: 300;
        border-radius: 12px;
        border: 1px solid #F4552B;
        transition: border 0.4s ease-in-out;

        .background-slider {
            position: absolute;
            width: 50%;
            height: 100%;
            background-color: #F4552B;
            border-radius: 10px 0 0 10px;
            transition: all 0.4s ease-in-out;
            z-index: 0;
        }

        .register-switch,
        .login-switch {
            z-index: 1;
            width: 50%;
            text-align: center;
            padding: 10px;
        }

        div {
            cursor: pointer;
        }
    }
    
    .input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: fit-content;
        margin-top: 8vh;
    
        input[type="text"],
        input[type="password"] {
            width: 250px;
            padding: 15px;
            background-color: #201E34;
            outline: none;
            border: none;
            color: white;
        }
    
        span {
            font-weight: 200;
        }
    
        .username-container,
        .password-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .password-field {
            position: relative;
            display: flex;
            align-items: center;

            svg {
                position: absolute;
                right: 0;
                padding: 10px;
                cursor: pointer;
            }

            .eye-on-register,
            .eye-on-login {
                display: none;
            }
        }

        button {
            width: 100%;
            margin-top: 15px;
            padding: 10px 25px;
            border: 1px solid #452FD2;
            border-radius: 0;
            color: #452FD2;
            z-index: 1;
            background: transparent;
            position: relative;
            font-weight: 900;
            font-size: 17px;
            transition: all 250ms;
            overflow: hidden;
            cursor: pointer;
        }

        .login-btn {
            border: 1px solid #F4552B;
            color: #F4552B;
        }
        
        button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 0;
            background-color: #452FD2;
            z-index: -1;
            transition: all 250ms
        }

        .login-btn::before {
            background-color: #F4552B;
        }
        
        button:hover {
            color: #e8e8e8;
        }
        
        button:hover::before {
            width: 100%;
        }

        .login-suggestion,
        .register-suggestion {
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px;
            
            a {
                font-weight: 600;
                color: #513EFF;
                cursor: pointer;
            }
        }

        .register-suggestion {
            a {
                color: #F4552B;
            }
        }
    }
}

/* Animations */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards ease-in;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s forwards ease-in-out;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInLeft 1s forwards ease-in-out;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 1s forwards ease-in-out;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}