@font-face { /* TODO: Preload fonts */
    font-family: 'Antonio';
    src: url('../Fonts/Antonio.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins.ttf');
}

@font-face {
    font-family: 'Abel';
    src: url('../Fonts/Abel.ttf');
}

/* Toastify style */
.unknown-error {
    background: rgba(44, 35, 41, 0.85);
    border-radius: 25px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(./imgs/bg-mm.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

nav {
    position: relative;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #7D91AA;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 65px;
        padding: 0;

        li {
            padding: 12px;
            border-radius: 10px;

            svg {
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
            }
    
            svg:hover {
                transform: scale(1.075);
            }
        }

        .selection-indicator {
            background-color: rgba(60, 67, 74, 0.7);
            box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
        }
    }

    .settings-container {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-15%);
        z-index: 999;
    
        svg {
            cursor: pointer;
        }
    
        .dropdown {
            visibility: hidden;
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #0F1822;
            width: 120px;
            height: max-content;
            padding: 10px 0;
            border-radius: 10px;
            margin-bottom: 10px;
            -webkit-user-select: none;
    
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding: 10px;
                border-radius: 10px;
                color: #aaaaaa;
                font-size: 14px;
                font-weight: 500;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }
    
            div:hover {
                transform: scale(1.1);
            }
        }
    
        .show {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Content Section */

.bg-blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.content-section {
    position: relative;
    background-image: url(./imgs/bg-content.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    .disclaimer {
        position: absolute;
        bottom: 35px;
        left: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    
        span {
            color: gray;
            font-size: 12px;
        }
    }

    .header-container {
        margin: 40px;
        width: 90vw;
        border-bottom: 2px solid #7D91AA;
    
        h1 {
            font-family: 'Antonio';
            color: white;
            margin-left: 20px;
            margin-bottom: 30px;
        }
    }

    .content-container {
        position: relative;
        margin: 40px 0 0 45px;
        width: auto;
        height: fit-content;

        .content-title {
            color: #a0a0a0;
            font-size: 18px;
            margin-bottom: 25px;
        }

        .card-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            .account-add-btn {
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
            }
            
            .account-add-btn:hover {
                transform: scale(1.1);
            }
        }
    }
}

.account-card {
    position: relative;
    background-color: white;
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: row;

    .card-left {

        .cardImg-container {
            width: 200px;
            height: 200px;
            overflow: hidden;
            position: relative;
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
            z-index: 98;

            img {
                position: absolute;
                top: 25%;
                left: 25%;
                transform: translate(-25%, -25%);
                min-width: 100%;
                min-height: 100%;
            }
        }

        .account-level {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: white;
            font-family: 'Antonio';
            font-size: 20px;
            font-weight: 700;
            z-index: 99;

            span {
                color: lime;
            }
        }

        .fav-icon {
            position: absolute;
            left: 160px;
            top: 10px;
        }
    }

    .card-right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        width: 100%;
    
        .card-text-container {
            font-family: 'Abel';
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 25px;
            left: 0;
    
            .account-username {
                font-size: 30px;
                font-weight: 500;
            }
    
            .account-tag {
                font-size: 16px;
                font-weight: 100;
                color: #5F5F5F;
            }
    
            .account-rank {
                width: fit-content;
                padding: 0 5px;
                font-weight: 600;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
    
        .copy-icon, 
        .options-icon {
            margin: 10px;
            cursor: pointer;
        }
    
        .options-icon {
            margin: 15px;
        }
        
    }
}

.add-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    animation: zoomIn 0.4s ease-in-out;
}

.account-add-popup {
    position: relative;
    background-image: url(./imgs/bg-account-add-popup-dark.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1082px;
    height: 452px;
}

.popup-close-btn {
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.popup-close-btn:hover {
    transform: scale(1.2);
}

.popup-input-container {
    position: absolute;
    right: 150px;
    top: 50px;
    width: 350px;
    font-family: 'Poppins';
    color: white;
}

.popup-input-container h2 {
    font-weight: 700;
}

.popup-interaction-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.popup-interaction-fields svg {
    position: absolute;
    top: 20px;
    left: 20px;
}

.password-input #password-hidden,
.password-input #password-shown {
    left: unset;
    top: 22px;
    right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.password-input #password-shown {
    display: none;
}

#password-hidden:hover,
#password-shown:hover {
    transform: scale(1.1);
}


.name-input,
.tag-input {
    position: relative;
}

input[type="text"],
input[type="password"] {
    outline: none;
    padding: 20px;
    padding-left: 60px;
    border-radius: 50px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    width: 350px;
}

::placeholder {
    color: rgba(51, 51, 51, 0.4);
}

.account-add-btn-popup {
    background-color: #0575E6;
    color: white;
    border-radius: 50px;
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.account-add-btn-popup:hover {
    transform: scale(1.05);
}

/* Animations */
@keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}