@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Monda:wght@400..700&display=swap');


/* Toastify style */
.popup-error {
    background: rgba(80, 80, 81, 0.8) !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    cursor: default !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Quantico", sans-serif;
    background-image: url(./imgs/bg-mm.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    z-index: 2;
}

nav {
    position: relative;
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #7D91AA;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 65px;
        padding: 0;

        li {
            padding: 12px 15px;
            border-radius: 10px;

            svg {
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
                height: 28px;
                width: 28px;
            }
    
            svg:hover {
                transform: scale(1.075);
            }
        }

        .selection-indicator {
            background-color: rgba(60, 67, 74, 0.7);
            box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
        }
    }

    .settings-container {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-10%);
        z-index: 999;
    
        #settings-btn {
            cursor: pointer;
            height: 28px;
            width: 28px;
        }
    
        .dropdown {
            visibility: hidden;
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #0F1822;
            width: 120px;
            height: max-content;
            padding: 10px 0;
            border-radius: 10px;
            margin-bottom: 10px;
            -webkit-user-select: none;
    
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding: 10px;
                border-radius: 10px;
                color: #aaaaaa;
                font-size: 14px;
                font-weight: 500;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }
    
            div:hover {
                transform: scale(1.1);
            }
        }
    
        .show {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Content Section */
/* TODO: Reorganize and reapply zindexs' */
.bg-blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.content-section {
    position: relative;
    background-image: url(./imgs/bg-content.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-left: 40px;

    .loader-container {
        position: absolute;
        display: none;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px);
        z-index: 5;

        .loader-bg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            border: 2px solid black;
            padding: 50px;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .loader {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            box-sizing: border-box;
            border-top: 8px solid white;
            border-left: 8px solid white;
            border-right: 8px solid #ff00;
            animation: loader .7s infinite linear;
        }

        p {
            color: white;
        }
    }

    .disclaimer {
        position: absolute;
        bottom: 35px;
        left: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    
        span {
            color: gray;
            font-size: 12px;
        }
    }

    .title-container {
        margin-top: 40px;
        width: 90vw;
        height: 60px;
        border-bottom: 2px solid #7D91AA;
    
        h1 {
            color: white;
            font-size: 28px;
            margin-left: 20px;
        }
    }

    .subtitle-container {
        position: relative;
        margin: 40px 0;
        width: 73vw;

        .home-subtitle-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .subtitle-left {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                p {
                    color: #a0a0a0;
                    font-size: 18px;
        
                    .h-divider {
                        color: white;
                        font-size: 22px;
                    }
        
                    .timer {
                        color: rgb(255, 255, 129);
                    }
                }

                .refresh-btn {
                    padding: 10px;
                    background-color: #464545;
                    border-radius: 10px;
                    height: 16px;
                    width: 16px;
                    cursor: pointer;
                }
            }

            .subtitle-right {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .add-account-button {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    background-color: rgb(0, 170, 0);
                    border-radius: 10px;
                    padding: 10px;
                    cursor: pointer;
                    transition: box-shadow 0.5s;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                    
                    p {
                        color: white;
                        font-size: 18px;
                    }
                }

                .add-account-button:hover {
                    box-shadow: 0 0 5px rgb(0, 170, 0),
                                0 0 25px rgb(0, 170, 0);
                }
            }
        }
    }

    .content-container {
        position: relative;
        height: max-content;
        max-width: 73vw;

        .card-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            width: fit-content;
            
            .account-card {
                position: relative;
                background-color: white;
                width: 450px;
                height: 200px;
                display: flex;
                flex-direction: row;
                transition: all 0.2s ease-in-out;
                z-index: 2;
            
                .card-left {
            
                    .cardImg-container {
                        width: 200px;
                        height: 200px;
                        overflow: hidden;
                        position: relative;
                        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
                        z-index: 3;
            
                        img {
                            position: absolute;
                            top: 25%;
                            left: 25%;
                            transform: translate(-25%, -25%);
                            min-width: 100%;
                            min-height: 100%;
                        }
                    }
            
                    .account-level {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        color: white;
                        font-size: 20px;
                        font-weight: 700;
                        z-index: 4;
            
                        span {
                            color: lime;
                        }
                    }
            
                    .fav-icon {
                        position: absolute;
                        left: 160px;
                        top: 10px;
                    }
                }
            
                .card-right {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    justify-content: space-between;
                    width: 100%;
                
                    .card-text-container {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        bottom: 25px;
                        left: 0;
                
                        .account-username {
                            font-size: 30px;
                            font-weight: 500;
                        }
                
                        .account-tag {
                            font-size: 16px;
                            font-weight: 100;
                            color: #5F5F5F;
                        }
                
                        .account-rank {
                            width: fit-content;
                            padding: 0 5px;
                            font-weight: 600;
                            font-size: 18px;
                            letter-spacing: 1px;
                        }
                    }
                
                    .options-icon {
                        margin: 15px;
                        cursor: pointer;
                    }
            
                    .copy-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
            
                        .copy-text {
                            font-size: 16px;
                            opacity: 0;
                            transform: translateX(100%);
                            transition: all 0.3s ease-in-out;
                            z-index: 2;
                        }
            
                        svg {
                            margin: 10px;
                            cursor: pointer;
                            z-index: 3;
                        }
            
                    }
            
                    .copy-container:hover .copy-text {
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }

                .card-underlay {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: right;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    overflow: hidden;
                    
                    p {
                        font-family: "Alfa Slab One", serif;
                        text-wrap: nowrap;
                        font-size: 40px;
                        letter-spacing: 2px;
                        opacity: 0.05;
                    }
                }
            }
            
            .account-card:hover {
                transform: translateY(-2%) translateX(-2%);
                box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
            }
        }
    }
}

.add-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    animation: zoomIn 0.4s ease-in-out;
}

.account-add-popup {
    position: relative;
    background-image: url(./imgs/bg-account-add-popup-dark.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1082px;
    height: 452px;
}

.popup-close-btn {
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.popup-close-btn:hover {
    transform: scale(1.2);
}

.popup-input-container {
    position: absolute;
    right: 150px;
    top: 50px;
    width: 350px;
    color: white;
}

.popup-input-container h2 {
    font-weight: 700;
}

.popup-interaction-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.popup-interaction-fields svg {
    position: absolute;
    top: 20px;
    left: 20px;
}

.password-input #password-hidden,
.password-input #password-shown {
    left: unset;
    top: 22px;
    right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.password-input #password-shown {
    display: none;
}

#password-hidden:hover,
#password-shown:hover {
    transform: scale(1.1);
}


.name-input,
.tag-input {
    position: relative;
}

input[type="text"],
input[type="password"] {
    outline: none;
    padding: 20px;
    padding-left: 60px;
    border-radius: 50px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    width: 350px;
}

::placeholder {
    color: rgba(51, 51, 51, 0.4);
}

.account-add-btn-popup {
    background-color: #0575E6;
    color: white;
    border-radius: 50px;
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.account-add-btn-popup:hover {
    transform: scale(1.05);
}

/* Animations */
@keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

@keyframes opacity-fadeIn {
    to {
        opacity: 1;
    }
}